body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-submit-row {
    margin-top: 10px;
}

.form-control {
    height: 45px !important;
}

.form-group {
    margin-bottom: 8px !important;
}

form label {
    font-size: 18px;
}

.form-signin input {
    font-size: 20px;
}

