{{append . "moreScripts" "js/admin.js"}}
{{template "header.html" .}}
{{template "navbar.html" .}}
<div class="container main-container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            {{template "flash.html" .}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            {{with .topSuccess}}
            <div class="alert alert-success">
                {{.}}
            </div>
            {{end}}
            {{with .topInfo}}
            <div class="alert alert-info">
                {{.|unescape}}
            </div>
            {{end}}
            {{with .topWarn}}
            <div class="alert alert-warning">
                {{.|unescape}}
            </div>
            {{end}}
            {{with .topDanger}}
            <div class="alert alert-danger">
                {{.}}
            </div>
            {{end}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Action Timer Results</div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead><tr><th>Action</th><th>Average Time</th><th>Hit count</th></tr></thead>
                        <tbody id="timerResultsTBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "footer.html" .}}

