{{template "header.html" .}}
{{template "navbar.html" .}}
<div class="container main-container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            {{template "flash.html" .}}
        </div>
        <div class="col-md-6 col-md-offset-3 text-center">
            {{with .topSuccess}}
            <div class="alert alert-success">
                {{.}}
            </div>
            {{end}}
            {{with .topInfo}}
            <div class="alert alert-info">
                {{.|unescape}}
            </div>
            {{end}}
            {{with .topWarn}}
            <div class="alert alert-warning">
                {{.|unescape}}
            </div>
            {{end}}
            {{with .topDanger}}
            <div class="alert alert-danger">
                {{.}}
            </div>
            {{end}}
        </div>
</div>
{{template "footer.html" .}}

