{{append . "moreStyles" "css/form.css"}}
{{append . "moreScripts" "js/captcha.js"}}
{{template "header.html" .}}
<div class="container">
    <div class="row">
        <div class="main-heading col-md-6 col-md-offset-4">
            <h2>Sign up to wishome</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <form class="form-horizontal" role="form" method="post" action="dosignup">
                <div class="form-group">
                    <div class="col-md-7 col-md-offset-5">
                        {{template "flash.html" .}}
                    </div>
                    <label for="inputName" class="col-md-5 control-label">{{msg . "form.signup.name"}}</label>
                    <div class="col-md-7">
                        <input class="form-control" id="inputName" name="name" placeholder="{{msg . "form.signup.name"}}" {{with .name}} autofocus value="{{.}}" {{end}} />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-md-5 control-label">{{msg . "form.signup.email"}}</label>
                    <div class="col-md-7">
                        <input type="email" class="form-control" id="inputEmail" name="email" placeholder="{{msg . "form.signup.email"}}"  value="{{.email}}" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPasswd" class="col-md-5 control-label">{{msg . "form.signup.password"}}</label>
                    <div class="col-md-7">
                        <input type="password" class="form-control" id="inputPasswd" name="password" placeholder="{{msg . "form.signup.password"}}" {{with .email}} autofocus {{end}} />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCaptcha" class="col-md-5 control-label">{{msg . "form.captcha"}}</label>
                    <div class="col-md-7">
                        {{template "captcha.html" .}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-5 col-md-7">
                        <button type="submit" class="btn btn-block btn-lg btn-primary">{{msg . "form.signup.submit"}}</button>
                        <a class="form-separate-row pull-right" href="/user/signin" title="{{msg . "misc.signin.notice"}}">{{msg . "misc.signin.notice"}}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{template "footer.html" .}}

