{{append . "moreStyles" "css/signin.css"}}
{{template "header.html" .}}
<div class="container">
    <form class="form-signin" role="form" action="/user/dosignin" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input name="name" class="form-control" placeholder="{{msg . "form.signin.name"}}" required autofocus>
        <input name="password" type="password" class="form-control" placeholder="{{msg . "form.signup.password"}}" required>
        <button class="btn btn-lg btn-primary" type="submit">{{msg . "form.signin.submit"}}</button>
        <a class="pull-right" href="/user/signup">{{msg . "misc.signup.notice"}}</a>
    </form>
</div>
{{template "footer.html" .}}

